$red: #f9004d;
$light_pink: #fcfc;
$dark_black: #191919;
$light_grey: #858585;
$dark_grey: #333;
$darker_black: #101010;
$light_black: #1e1e1e;
$white: white;
$blue: #004fac;

$mobile_width: 46.1875em;