* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

@import "./variables";
@import "./keyframes";
@import "./mixins";

body {
	background-color: $dark_black;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;


	/* clock */
	.clock {
		@include size(350px);
		@include absoluteAlign(30%, 20%);
		@include flexAlign();
		background: url(../img/clock.png);
		background-size: cover;
		border: 4px solid $dark_black;
		border-radius: 50%;
		box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
			inset 0 -15px 15px rgba(255, 255, 255, 0.05),
			0 15px 15px rgba(0, 0, 0, 0.05),
			inset 0 15px 15px rgba(0, 0, 0, 0.05);

		// Mobile
		@include maxWidth(46.1875em) {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			@include size(15px);
			background-color: $white;
			border-radius: 50%;
			z-index: 10000;
		}

		.hour,
		.min,
		.sec {
			position: absolute;

		}

		/* Second hand size */
		.sec,
		.sec .sc {
			width: 230px;
			height: 230px;
		}

		/* Hour hand size */
		.hour,
		.hour .hr {
			width: 160px;
			height: 160px;
		}

		/* Minute hand size */
		.min,
		.min .mn {
			width: 190px;
			height: 190px;
		}

		/* Hands clock General attributes */
		.sec .sc,
		.hour .hr,
		.min .mn {
			@include flexAlign();
			position: absolute;
			align-items: baseline;
			border-radius: 50%;
		}

		.hour {
			.hr {
				&::before {
					@include size(8px, 80px);
					content: '';
					position: absolute;
					background: $red;
					z-index: 10;
					border-radius: 6px 6px 0 0;
				}
			}
		}

		.min {
			.mn {
				&::before {
					@include size(4px, 90px);
					content: '';
					position: absolute;
					background: $white;
					z-index: 11;
					border-radius: 6px 6px 0 0;
				}
			}
		}

		.sec {
			.sc {
				&::before {
					@include size(2px, 150px);
					content: '';
					position: absolute;
					background: $white;
					z-index: 12;
					border-radius: 6px 6px 0 0;
				}
			}
		}

	}

	.hero {
		background-color: var(--dark-black);
		/* background-color: #091921; */
		@include size(100%, 100vh);
		background-size: cover;
		background-position: center;

		// Mobile
		@include maxWidth(46.1875em) {
			@include size(100vw, 100vh);
			background-color: $darker_black;
			display: block;
		}

		nav {
			@include flexAlign();
			justify-content: space-between;
			padding: 45px 8% 0 8%;

			.logo {
				position: relative;
				color: $white;
				font-size: 35px;
				letter-spacing: 1px;
				cursor: pointer;

				&:hover {
					animation: tilt-shaking .5s infinite;
				}

				span {
					color: $red;
				}
			}

			ul {

				// Mobile
				@include maxWidth(46.1875em) {
					display: none;
				}

				li {
					list-style-type: none;
					display: inline-block;
					padding: 10px 25px;
					transition: transform .4s;

					&:hover {
						transform: scale(1.2);
					}

					a {
						@include text(20px, bold, capitalize, none);
						color: $white;
						padding-top: 50px;

						// make underline animation
						background:
							bottom var(--p1, 10px) left 50% /100% var(--p, 2px) no-repeat,
							linear-gradient(currentColor 0 0) bottom -2px right 50%/var(--d, 0%) 3px no-repeat;
						transition: 0.5s;

						&:hover {
							color: $red;
							--d: 100%;
							--p: 3px;
							--p1: 4px;
						}
					}
				}

			}

			.btn {
				@include text(16px, bold, none, none);
				background-color: $red;
				border-radius: 30px;
				color: $white;
				border: 2px solid transparent;
				padding: 10px 25px;
				transition: transform .7s;

				// Mobile
				@include maxWidth(46.1875em) {
					@include text(14px, bold, none, none);
					background-color: $red;
					border-radius: 30px;
					color: $white;
					border: 2px solid transparent;
					padding: 8px 15px;
					transition: transform .4s;
					box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;
				}

				&:hover {
					box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
					transform: scale(1.2);
				}
			}

		}

		/* content: below hero section and included by hero div */
		.content {
			@include absoluteAlign(50%, auto, auto, 8%);
			transform: translateY(-50%);

			// Mobile
			@include maxWidth(46.1875em) {
				@include absoluteAlign(42%, auto, auto, 0%);
				position: relative;
				padding-left: 8%;
				max-width: 80% !important;
				display: block;
				transform: translateY(-50%);
			}

			/* h1: The big words Phan Tai Duc */
			h1 {
				color: $white;
				margin: 20px 0px 20px;
				@include text(75px, 700, none, none);

				// Mobile
				@include maxWidth(46.1875em) {
					color: $white;
					margin: 40px 0px;
					font-size: 65px;
					letter-spacing: 2px;
				}


				span {
					color: $red;

					// Mobile
					@include maxWidth(46.1875em) {
						font-size: 70px;
						margin-top: 20px;
						margin-left: 0px;
						display: block;
					}
				}
			}

			/* h3: Short description "I'm a student" */
			h3 {
				@include text(25px, 700, none, none);
				color: $white;
				margin-bottom: 50px;

				// Mobile
				@include maxWidth(46.1875em) {
					color: $white;
					margin-bottom: 50px;
					font-size: 25px;
					display: inline;
				}
			}

			/* h4: greeting "Hello, I am" */
			h4 {
				color: $light_pink;
				@include text(25px, 700, none, none);
				letter-spacing: 2px;

				// Mobile
				@include maxWidth(46.1875em) {
					color: $light_pink;
					letter-spacing: 1.5px;
					font-size: 20px;
				}
			}


			/* Short contact form */
			.newslatter {
				form {
					width: 380px;
					max-width: 100%;
					position: relative;
					transition: transform .4s;


					// Mobile
					@include maxWidth(46.1875em) {
						position: relative;
						max-width: 110%;
						padding: auto;
						margin: auto;
						margin-top: 30px;
						transition: transform .4s;
					}

					&:hover {
						transform: scale(1.07);
					}


					input[name='email'] {
						display: inline-block;
						width: 100%;
						padding: 14px 130px 14px 15px;
						border: 2px solid $red;
						border-radius: 30px;
						outline: none;

						// Mobile
						@include maxWidth(46.1875em) {
							display: inline-block;
							width: 100%;
							margin-top: 25px;
							padding: 14px 0px 14px 15px;
							border: 2px solid $red;
							border-radius: 30px;
							outline: none;
						}

						&:hover {
							box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;

							// Mobile
							@include maxWidth(46.1875em) {
								box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;
							}
						}
					}



					input[name='submit'] {
						display: inline;
						@include absoluteAlign(6px, 6px, auto, auto);
						outline: none;
						border: none;
						padding: 10px 30px;
						border-radius: 30px;
						cursor: pointer;
						background-color: $red;
						color: $white;
						box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;

						// Mobile
						@include maxWidth(46.1875em) {
							@include absoluteAlign(30px, 6px);
							display: inline;
							outline: none;
							border: none;
							padding: 10px 30px;
							border-radius: 30px;
							cursor: pointer;
							background-color: $red;
							color: white;
							box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;
						}

						&:hover {
							animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
							transform: translate3d(0, 0, 0);
							perspective: 1000px;

							// Mobile
							@include maxWidth(46.1875em) {
								animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
								transform: translate3d(0, 0, 0);
								perspective: 1000px;
							}
						}
					}


				}
			}
		}
	}


	/* About section */
	.about {
		@include size(100%, 100vh);
		padding: 150px 0px;
		background-color: $light_black;

		// Mobile
		@include maxWidth(46.1875em) {
			@include flexAlign();
			display: block;
			background-color: $dark_black;
			height: 100vh;
			padding-top: 100px;
		}

		/* div Main in About section */
		.main {
			width: 1130px;
			margin: 0px auto;
			max-width: 95%;
			@include flexAlign();
			justify-content: space-around;

			// Mobile
			@include maxWidth(46.1875em) {
				@include flexAlign();
				display: block;
				width: 100%;
				max-width: 100%;
			}

			/* Clock Glass */
			.clock-glass-shadow {
				.box-clock {
					@include size(400px);
					@include absoluteAlign(110%);
					z-index: 1;
					backdrop-filter: blur(25px);
					border-radius: 50%;
					border: 1px solid rgba(255, 255, 255, 0.5);
					animation: animate 5s ease-in-out infinite;

					// Mobile
					@include maxWidth(46.1875em) {
						@include size(250px);
						@include absoluteAlign(115%, auto, auto, 20%);
						margin: auto;
					}

					.clock-glass {
						@include absoluteAlign(10px, 10px, 10px, 10px);
						@include flexAlign();
						background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(../img/clock.png);
						background-size: cover;
						border-radius: 50%;
						backdrop-filter: blur(25px);
						border: 1px solid rgba(255, 255, 255, 0.2);
						border-bottom: none;
						border-right: none;
						box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
							10px 10px 20px rgba(0, 0, 0, 0.1),
							0px 40px 50px rgba(0, 0, 0, 0.2);

						&::before {
							content: '';
							position: absolute;
							width: 15px;
							height: 15px;
							background: white;
							border-radius: 50%;
							z-index: 10000;
						}

						.hour,
						.min,
						.sec {
							position: absolute;

						}

						.sec,
						.sec .sc {
							width: 230px;
							height: 230px;
						}

						.hour,
						.hour .hr {
							width: 160px;
							height: 160px;
						}

						.min,
						.min .mn {
							width: 190px;
							height: 190px;
						}

						.sec .sc,
						.hour .hr,
						.min .mn {
							@include flexAlign();
							position: absolute;
							align-items: baseline;
							border-radius: 50%;
						}

						.hour {
							.hr {
								&::before {
									@include size(8px, 80px);
									content: '';
									position: absolute;
									background: $red;
									z-index: 10;
									border-radius: 6px 6px 0 0;
								}
							}
						}

						.min {
							.mn {
								&::before {
									@include size(4px, 90px);
									content: '';
									position: absolute;
									background: $white;
									z-index: 11;
									border-radius: 6px 6px 0 0;
								}
							}
						}

						.sec {
							.sc {
								&::before {
									@include size(2px, 150px);
									content: '';
									position: absolute;
									background: $white;
									z-index: 12;
									border-radius: 6px 6px 0 0;
								}
							}
						}



					}
				}
			}

			/* gigachad */
			.about img {
				display: none;

				// Mobile
				@include maxWidth(46.1875em) {
					@include size(200px);
					position: relative;
					align-items: center;
					display: block;
					margin: auto;
					display: none;
				}
			}

			.about-text {
				width: 40vw;
				margin-left: 600px;

				// Mobile
				@include maxWidth(46.1875em) {
					@include flexAlign();
					display: block;
					width: 80vw;
					margin: 300px auto auto auto;
				}

				/* The big words About Me */
				h2 {
					color: $white;
					font-size: 75px;
					text-transform: capitalize;
					margin-bottom: 20px;

					// Mobile
					@include maxWidth(46.1875em) {
						@include text(30px, 700, capitalize, none);
						color: $white;
						text-align: center;
						margin-bottom: 20px;
					}
				}

				/* About Me - Description */
				h5 {
					color: $white;
					letter-spacing: 2px;
					font-size: 22px;
					margin-bottom: 25px;
					text-transform: capitalize;

					// Mobile
					@include maxWidth(46.1875em) {
						@include text(22px, 700, capitalize, none);
						text-align: center;
						color: $white;
						letter-spacing: 2px;
						margin-bottom: 25px;
					}

					span {
						color: $red;
					}
				}


				/* Button Let's talk */
				button {
					color: white;
					background-color: $red;
					text-decoration: none;
					border: 2px solid transparent;
					font-weight: bold;
					border-radius: 30px;
					padding: 13px 30px;
					transition: .4s;
					cursor: pointer;

					// Mobile
					@include maxWidth(46.1875em) {
						@include flexAlign();
						position: relative;
						background-color: $red;
						border: 2px solid transparent;
						border-radius: 30px;
						padding: 13px 30px;
						margin: auto;
						transition: .4s;
					}

					a {
						color: white;
						text-decoration: none;
						font-weight: bold;

						// Mobile
						@include maxWidth(46.1875em) {
							@include text(16px, bold, none, none);
							color: $white;
						}
					}

					&:hover {
						background-color: transparent;
						border: 4px solid $red;

					}
				}

			}
		}

	}


	.services {
		background-color: $darker_black;
		width: 100%;
		padding: 100px 0px;


		.title {
			color: $white;
			font-size: 60px;
			display: block;
			margin: 30px auto;
			text-align: center;

			// Mobile
			@include maxWidth(46.1875em) {
				margin: 30px 30px;
				font-size: 50px;
			}
		}


		.box {
			@include flexAlign();
			min-height: 400px;

			// Mobile
			@include maxWidth(46.1875em) {
				display: block;
			}

			.card {
				height: 50vh;
				width: 46vh;
				padding: 20px 35px;
				border-radius: 20px;
				margin: 15px;
				position: relative;
				background-color: $dark_black;
				overflow: hidden;
				text-align: center;

				// Mobile
				@include maxWidth(46.1875em) {
					width: 40vh;
					margin: auto auto 30px auto;
				}

				i {
					font-size: 50px;
					display: block;
					text-align: center;
					margin: 25px 0px;
					color: $red;
				}

				h5 {
					color: $white;
					font-size: 23px;
					margin-bottom: 15px;
				}


				.pra {
					p {
						color: $light_pink;
						font-size: 16px;
						line-height: 27px;
						margin-bottom: 25px;
						/* font-weight: bold; */
					}
				}

				.button {
					@include text(16px, bold, none, none);
					color: $white;
					background-color: $red;
					border: 2px solid transparent;
					border-radius: 30px;
					padding: 9px 22px;
					transition: .4s;
					cursor: pointer;

					&:hover {
						background-color: transparent;
						border: 4px solid $red;
					}
				}
			}


		}

	}

	footer {
		@include size(100%, 25vh);
		@include flexAlign();
		position: relative;
		background-color: $light_black;
		flex-direction: column;

		// Mobile
		@include maxWidth(46.1875em) {
			@include size(100%, 200px);
			@include flexAlign();
			position: relative;
			background-color: $light_black;
			flex-direction: column;
		}

		p {
			&:nth-child(1) {
				@include text(30px, bold, none, none);
				color: $white;
				margin-top: 50px;
				margin-bottom: 20px;

				// Mobile
				@include maxWidth(46.1875em) {
					@include text(27px, bold, none, none);
					margin: 50px auto 20px auto;
				}
			}

			&:nth-child(2) {
				@include text(17px, bold, none, none);
				color: $white;
				width: 50vw;
				text-align: center;
			}
		}


		.social {
			display: flex;

			a {
				@include size(45px);
				@include flexAlign();
				@include text(20px, bold, none, none);
				background-color: $red;
				border-radius: 50%;
				margin: 22px 10px;
				color: $white;

				&:hover {
					transform: scale(1.3);
					transition: .4s;
				}
			}


		}
	}


	/* Subcribe popup */
	#popup {
		@include absoluteAlign(-100%, auto, auto, 50%);
		position: fixed;
		width: 400px;
		margin: 30px;
		z-index: 1000;
		background: $white;
		padding: 80px 50px 50px;
		visibility: hidden;
		transition: .5s;
		box-shadow: 0px 0px 15px black, 0px 0px 45px $light_grey;
		transform: translate(-50%, -50%);

		// Mobile
		@include maxWidth(46.1875em) {
			@include absoluteAlign(-100%, auto, auto, 50%);
			position: fixed;
			width: 80vw;
			margin: 0px;
			z-index: 1000;
			background: $white;
			padding: 80px 50px 50px;
			visibility: hidden;
			transition: .5s;
			box-shadow: 0px 0px 15px black, 0px 0px 45px $light_grey;
			transform: translate(-50%, -50%);
		}

		&.active {
			visibility: visible;
			top: 50%;
		}

		/* Popup close button */
		.close {
			@include absoluteAlign(30px, 30px, auto, auto);
			cursor: pointer;

			:hover {
				box-shadow: 0px 0px 5px black, 0px 0px 15px $light_grey;

			}

			/* Popup close image button */
			img {
				max-width: 20px;
			}

		}

		/* Popup content */
		.popup-content {
			@include flexAlign();
			position: relative;
			width: 100%;
			flex-direction: column;

			/* Popup email image */
			img {
				max-width: 80px;
			}

			/* The big word Join Us */
			h2 {
				font-size: 24px;
				font-weight: 500;
				color: $dark_grey;
				margin: 20px 0px 10px;
			}

			/* Popup description */
			p {
				text-align: center;
				font-size: 16px;
				color: $dark_grey;
			}

			/* Popup Email input box */
			.inputBox {
				@include flexAlign();
				position: relative;
				width: 100%;
				margin-top: 20px;

				/* Popup Email input box */
				input {
					width: 100%;
					border: 1px solid rgba(0, 0, 0, 0.2);
					padding: 15px;
					outline: none;
					font-size: 18px;
				}

				/* Popup submit button */
				input[type="submit"] {
					max-width: 150px;
					color: $white;
					background-color: $blue;
					box-shadow: none;
					border: none;
					border-radius: 0px;
				}
			}
		}
	}

}