* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
html::-webkit-scrollbar {
	display: none;
  }
:root{
	--red: #f9004d;
	--light-pink: #fcfc;
	--dark-black: #191919;
	--light-black: #1e1e1e;
	--light-grey: #858585;
	--darker-black: #101010;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
  
@keyframes tilt-shaking {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(5deg); }
	50% { transform: rotate(0eg); }
	75% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
}

body{
	/* background-color: var(--dark-black); */
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.hero {
	background-color: var(--dark-black);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
}

.logo:hover{
	animation: tilt-shaking .5s infinite;
}

span {
	color: var(--red);
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
	transition: transform .4s;

}

nav ul li:hover{
	transform: scale(1.2);
}

nav ul li a{
	color: white;
	text-decoration: none;
	padding-top: 50px;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;


	background:
 	bottom var(--p1, 10px) left 50% /100% var(--p, 2px) no-repeat,
    linear-gradient(currentColor 0 0) bottom -2px right 50%/var(--d, 0%) 3px no-repeat;
  	transition: 0.5s;

}

nav ul li a:hover{
	color: var(--red);
	--d: 100%;
	--p: 3px;
	--p1: 4px;
}

.btn{
	background-color: var(--red);
	border-radius: 30px;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	transition: transform .7s;
}

.btn:hover{
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	transform: scale(1.2);
}

/* content: below hero section and included by hero div */
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

/* h1: The big words Phan Tai Duc */
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

/* h3: Short description "I'm a student" */
h3{
	color: white;
	margin-bottom: 50px;
	font-size: 25px;
}

/* h4: greeting "Hello, I am" */
h4{
	color: var(--light-pink);
	letter-spacing: 2px;
	font-size: 25px;
}

/* Short contact form */
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
	transition: transform .4s;
}

.newslatter form:hover{
	transform: scale(1.07);
}

input[name='email'] {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--red);
	border-radius: 30px;
	outline: none;
}

input[name="email"]:hover{
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
}

input[name='submit']{
	display: inline;
	position: absolute;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	cursor: pointer;
	background-color: var(--red);
	color: white;
	top: 6px;
	right: 6px;
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
}

input[name="submit"]:hover {
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

/* About section */
.about{
	width: 100%;
	height: 100vh;
	padding: 150px 0px;
	background-color: var(--light-black);
}

/* div Main in About section */
.main{
	width: 1130px;
	margin: 0px auto;
	max-width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* gigachad */
.about img{
	height: auto;
	width: auto;
}

.about-text{
	width: 40vw;
	margin-left: 100px;
}

/* The big words About Me */
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

/* About Me - Description */
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

/* Button Let's talk */
.about-text button{
	color: white;
	background-color: var(--red);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	border-radius: 30px;
	padding: 13px 30px;
	transition: .4s;
	cursor: pointer;
}

.about-text button a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.about-text button:hover{
	background-color: transparent;
	border: 4px solid var(--red);
}

.services{
	background-color: var(--darker-black);
	/* background-color: var(--light-pink); */
	width: 100%;
	padding: 100px 0px;
}

.title{
	color: white;
	font-size: 60px;
	display: block;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card{
	height: 50vh;
	width: 46vh;
	padding: 20px 35px;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	background-color: var(--dark-black);
	overflow: hidden;
	text-align: center;
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: var(--red);
}

.card h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p{
	color: var(--light-pink);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	/* font-weight: bold; */
}

.card .button{
	color: white;
	background-color: var(--red);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	border-radius: 30px;
	padding: 9px 22px;
	transition: .4s;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}


.card .button:hover{
	background-color: transparent;
	border: 4px solid var(--red);
}

footer{
	position: relative;
	width: 100%;
	height: 35vh;
	background-color: var(--light-black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-top: 50px;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 50vw;
	text-align: center;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--red);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .4s;
}

/* Subcribe popup */
#popup{
	position: fixed;
	top: -100%;
	left: 50%;
	width: 400px;
	margin: 30px;
	z-index: 1000;
	background: white;
	padding: 80px 50px 50px;
	visibility: hidden;
	transition: .5s;
	box-shadow: 0px 0px 15px black, 0px 0px 45px var(--light-grey);
	transform: translate(-50%, -50%);
}


#popup.active{
	visibility: visible;
	top: 50%;
}

.close:hover{
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);

}

/* Popup content */
#popup .popup-content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Popup email image */
#popup .popup-content img{
	max-width: 80px;
}

/* The big word Join Us */
#popup .popup-content h2{
	font-size: 24px;
	font-weight: 500;
	color: #333;
	margin: 20px 0px 10px;
}

/* Popup description */
#popup .popup-content p{
	text-align: center;
	font-size: 16px;
	color: #333;
}

/* Popup Email input box */
#popup .popup-content .inputBox {
	position: relative;
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Popup Email input box */
#popup .popup-content .inputBox input{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 15px;
	outline: none;
	font-size: 18px;
}

/* Popup submit button */
#popup .popup-content .inputBox input[type="submit"]{
	max-width: 150px;
	color: white;
	background-color: #004fac;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}

/* Popup close button */
.close{
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

/* Popup close image button */
.close img{
	max-width: 20px;
	display: block;
}












/* Mobile phone: Width < 740px */
@media only screen and (max-width: 46.1875em){

	/* Mobile Hero Section */
	.hero{
		height: 100vh;
		width: 100vw;
		background-color: var(--dark-black);
		display: block;
	}

	/*  Mobile Disable menu */
	nav ul{
		display: none;
	}

	/*  Mobile Subcribe button */
	.btn{
		background-color: var(--red);
		border-radius: 30px;
		color: white;
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		padding: 8px 15px;
		font-size: 14px;
		transition: transform .4s;
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	}

	.btn:active{
		transform: scale(1.2);
	}

	/*  Mobile nav content */
	.content{
		position: relative;
		top: 40%;
		left: 0%;
		padding-left: 8%;
		/* max-width: 80% !important; */
		display: block;
		transform: translateY(-50%);

	}

	/*  Mobile h1: The big words Phan Tai Duc */
	h1{
		color: white;
		margin: 20px 0px;
		font-size: 50px;
		letter-spacing: 2px;
	}

	/*  Mobile Put span "Tai Duc" down a new line */
	.content h1 span{
		font-size: 60px;
		margin-top: 20px ;
		margin-left: 0px;
		display: block;
	}

	/*  Mobile h3: Short description "I'm a student" */
	h3{
		color: white;
		margin-bottom: 50px;
		font-size: 20px;
		display: inline;
	}

	/*  Mobile h4: greeting "Hello, I am" */
	h4{
		color: var(--light-pink);
		letter-spacing: 1.5px;
		font-size: 15px;
	}

	/* .newslatter{
		display: inline;
	} */
	/*  Mobile Short contact form */
	.newslatter form{
		position: relative;
		/* width: 80%; */
		right: 10%;
		max-width: 80%;
		padding: auto;
		margin: auto;
		transition: transform .4s;
	}

	.newslatter form:hover{
		transform: scale(1.07);
	}
		
	input[name='email'] {
		display: inline-block;
		width: 100%;
		margin-top: 25px;
		padding: 14px 0px 14px 15px;
		/* margin-bottom: 100px; */
		border: 2px solid var(--red);
		border-radius: 30px;
		outline: none;
	}

	input[name="email"]:hover{
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	}


	input[name='submit']{
		display: inline;
		position: absolute;
		outline: none;
		border: none;
		padding: 10px 30px;
		border-radius: 30px;
		cursor: pointer;
		background-color: var(--red);
		color: white;
		top: 30px;
		right: 6px;
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	}
	
	input[name="submit"]:hover {
		animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
		transform: translate3d(0, 0, 0);
		perspective: 1000px;
	}

	/*  Mobile about section */
	.about{
		background-color: var(--dark-black);
		height: 100vh;
		padding-top: 100px;
		display: block;
		justify-content: center;
		align-items: center;
	}

	/*  Mobile div Main in About section */
	.main{
		width: 100%;
		display: block;
		justify-content: center;
		align-items: center;
		/* padding:0px 30px; */
		max-width: 100%;
	}
	
	/*  Mobile gigachad */
	.about img{
		position: relative;
		align-items: center;
		display: block;
		height: 200px;
		width: 200px;
		margin: auto;
	}

	.about-text{
		width: 80vw;
		display: block;
		justify-content: center;
		align-items: center;
		margin: auto;
		/* margin: 5px; */
		margin-top: 30px;
	}
	

	/*  Mobile The big words About Me */
	.about-text h2{
		color: white;
		font-size: 30px;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 20px;
	}
	
	/*  Mobile About Me - Description */
	.about-text h5{
		text-align: center;
		color: white;
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 25px;
		text-transform: capitalize;
	}

	/*  Mobile Button Let's talk */
	.about-text button{
		position: relative;
		display: flex;
		justify-content: center;
		background-color: var(--red);
		border: 2px solid transparent;
		border-radius: 30px;
		padding: 13px 30px;
		margin-left: auto;
		margin-right: auto;
		transition: .4s;
	}

	.about-text button a{
		color: white;
		text-decoration: none;
		font-weight: bold;
	}

	.about-text button:hover{
		background-color: transparent;
		border: 4px solid var(--red);
	}

	/* Modile service section	 */
	.services{
		background-color: var(--darker-black);
		width: 100%;
		padding: 100px 0px;
	}

	/* Mobile big word OUR SERVICES */
	.title{
		color: white;
		font-size: 50px;
		display: block;
		margin: 30px 30px;
		text-align: center;
	}

	/* Mobile Service box (include cards) */
	.box {
		display: block;
		justify-content: center;
		align-items: center;
	}

	/* Mobile services - cards */
	.card{
		height: 50vh;
		width: 40vh;
		padding: 20px 35px;
		border-radius: 20px;
		margin: auto;
		margin-bottom: 30px;
		position: relative;
		background-color: var(--dark-black);
		overflow: hidden;
		text-align: center;
	}

	/* Mobile service-cards icons */
	.card i{
		font-size: 50px;
		display: block;
		text-align: center;
		margin: 25px 0px;
		color: var(--red);
	}

	/* Mobile service-cards titles */
	.card h5{
		color: white;
		font-size: 23px;
		margin-bottom: 15px;
	}

	/* Mobile service-cards description */
	.pra p{
		color: var(--light-pink);
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 25px;
		/* font-weight: bold; */
	}

	/* Mobile service-card ReadMore buttons */
	.card .button{
		color: white;
		background-color: var(--red);
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		border-radius: 30px;
		padding: 9px 22px;
		transition: .4s;
		cursor: pointer;
		text-decoration: none;
		font-weight: bold;
	}


	.card .button:hover{
		background-color: transparent;
		border: 4px solid var(--red);
	}

	/* Mobile footer */
	footer{
		position: relative;
		width: 100%;
		height: 200px;
		margin: 0px;
		/* padding-top: 10px; */
		background-color: var(--light-black);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/* Mobile footer-MyName */
	footer p:nth-child(1){
		display: block;
		font-size: 27px;
		color: white;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	/* Mobile footer-[contact me] script */
	footer p:nth-child(2){
		color: white;
		font-size: 17px;
		width: 50vw;
		text-align: center;
	}

	/* Mobile social icons */
	.social{
		display: flex;
	}

	/* Mobile social icon text */
	.social a{
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--red);
		border-radius: 50%;
		margin: 22px 10px;
		color: white;
		text-decoration: none;
		font-size: 20px;
	}

	.social a:hover{
		transform: scale(1.3);
		transition: .4s;
	}


	/* Popup Section */

	/* Subcribe popup */
	#popup{
		position: fixed;
		top: -100%;
		left: 50%;
		width: 80vw;
		margin: 0px;
		z-index: 1000;
		background: white;
		padding: 80px 50px 50px;
		visibility: hidden;
		transition: .5s;
		box-shadow: 0px 0px 15px black, 0px 0px 45px var(--light-grey);
		transform: translate(-50%, -50%);
	}


	#popup.active{
		visibility: visible;
		top: 50%;
	}

	.close:hover{
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	
	}

	/* Mobile Popup content */
	#popup .popup-content{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	/* Mobile Popup email image */
	#popup .popup-content img{
		max-width: 80px;
	}

	/* Mobile Popup The big word Join Us */
	#popup .popup-content h2{
		font-size: 24px;
		font-weight: 500;
		color: #333;
		margin: 20px 0px 10px;
	}

	/* Mobile Popup description */
	#popup .popup-content p{
		text-align: center;
		font-size: 16px;
		color: #333;
	}

	/* Mobile Popup Email input box */
	#popup .popup-content .inputBox {
		position: relative;
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* Mobile Popup Email input box */
	#popup .popup-content .inputBox input{
		width: 100%;
		border: 1px solid rgba(0,0,0,0.2);
		padding: 15px;
		outline: none;
		font-size: 18px;
	}

	/* Mobile Popup submit button */
	#popup .popup-content .inputBox input[type="submit"]{
		max-width: 150px;
		color: white;
		background-color: #004fac;
		box-shadow: none;
		border: none;
		border-radius: 0px;
	}

	/* Mobile Popup close button */
	.close{
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}

	/* Mobile Popup close image button */
	.close img{
		max-width: 20px;
	}

}




























