* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
:root{
	--red: #f9004d;
	--light-pink: #fcfc;
	--dark-black: #191919;
	--light-black: #1e1e1e;
	--light-grey: #858585;
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

@keyframes tilt-shaking {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(5deg); }
	50% { transform: rotate(0eg); }
	75% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
  }

.hero {
	background-color: var(--dark-black);
	height: 100vh;
	width: 100%;
	/* background-image: url(../img/gigachad-up.png); */
	background-size: cover;
	background-position: center;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	/* transition: transform .4s; */
}
.logo:hover{
	animation: tilt-shaking .5s infinite;

}

span {
	color: var(--red);
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding-top: 50px;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;


	background:
 	bottom var(--p1, 10px) left 50% /100% var(--p, 2px) no-repeat,
    linear-gradient(currentColor 0 0) bottom -2px right 50%/var(--d, 0%) 3px no-repeat;
  	transition: 0.5s;

}
nav ul li{
	transition: transform .4s;
}
nav ul li a:hover{
	color: var(--red);
	--d: 100%;
	--p: 3px;
	--p1: 4px;
	
}
nav ul li:hover{
	transform: scale(1.2);
}
.btn{
	background-color: var(--red);
	border-radius: 30px;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	transition: transform .4s;
}
.btn:hover{
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	margin-bottom: 50px;
	font-size: 25px;
}
h4{
	color: var(--light-pink);
	letter-spacing: 2px;
	font-size: 25px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
	transition: transform .4s;
}
.newslatter form:hover{
	transform: scale(1.07);
}


input[name='email'] {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--red);
	border-radius: 30px;
	outline: none;
}
input[name="email"]:hover{
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);

}
input[name='submit']{
	display: inline;
	position: absolute;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	cursor: pointer;
	background-color: var(--red);
	color: white;
	top: 6px;
	right: 6px;
	box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
}

input[name="submit"]:hover {
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}
.about{
	width: 100%;
	height: 100vh;
	padding: 150px 0px;
	/* padding-bottom: 100px; */
	background-color: var(--light-black);
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 40vw;
	margin-left: 100px;
}
.main{
	width: 1130px;
	margin: 0px auto;
	max-width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text button{
	color: white;
	background-color: var(--red);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	border-radius: 30px;
	padding: 13px 30px;
	transition: .4s;
}
.about-text button:hover{
	background-color: transparent;
	border: 4px solid var(--red);
}



@media only screen and (max-width: 46.1875em){

	/* nav */

	nav ul li {
		list-style-type: none;
		display: inline-block;
		padding: 10px 18px;
	}
	nav ul li a{
		color: white;
		text-decoration: none;
		padding-top: 50px;
		font-weight: bold;
		font-size: 15px;
		text-transform: capitalize;
	}
	nav ul li{
		transition: transform .4s;
	}
	nav ul li a:acive{
		color: var(--red);
		--d: 100%;
		--p: 3px;
		--p1: 4px;
		
	}
	nav ul li:active{
		transform: scale(1.2);
	}
	.btn{
		background-color: var(--red);
		border-radius: 30px;
		color: white;
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		padding: 10px 25px;
		transition: transform .4s;
	}
	.btn:active{
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
		transform: scale(1.2);
	}



	/* nav content */
	.content{
		position: absolute;
		top: 25%;
		left: 8%;
		transform: translateY(-50%);
	}
	h1{
		color: white;
		margin: 30px 0px;
		font-size: 75px;
	}
	h3{
		color: white;
		margin-bottom: 50px;
		font-size: 25px;
	}
	h4{
		color: var(--light-pink);
		letter-spacing: 2px;
		font-size: 25px;
	}
	.newslatter form{
		width: 380px;
		max-width: 100%;
		position: relative;
		transition: transform .4s;
	}
	.newslatter form:hover{
		transform: scale(1.07);
	}
	
	
	input[name='email'] {
		display: inline-block;
		width: 100%;
		padding: 14px 130px 14px 15px;
		border: 2px solid var(--red);
		border-radius: 30px;
		outline: none;
	}
	input[name="email"]:hover{
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	
	}
	input[name='submit']{
		display: inline;
		position: absolute;
		outline: none;
		border: none;
		padding: 10px 30px;
		border-radius: 30px;
		cursor: pointer;
		background-color: var(--red);
		color: white;
		top: 6px;
		right: 6px;
		box-shadow: 0px 0px 5px black, 0px 0px 15px var(--light-grey);
	}
	
	input[name="submit"]:hover {
		animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
		transform: translate3d(0, 0, 0);
		perspective: 1000px;
	}



	/* about section */
	.about{
		padding: 100px 0px;
		background-color: var(--light-black);
	}
	.about img{
		height: 450px;
		width: 450px;
	}
	.about-text{
		width: 40vw;
		margin-left: 100px;
	}
	.main{
		width: 1130px;
		margin: 0px auto;
		max-width: 95%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	.about-text h2{
		color: white;
		font-size: 75px;
		text-transform: capitalize;
		margin-bottom: 20px;
	}
	.about-text h5{
		color: white;
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 25px;
		text-transform: capitalize;
	}
	.about-text button{
		color: white;
		background-color: var(--red);
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		border-radius: 30px;
		padding: 13px 30px;
		transition: .4s;
	}
	.about-text button:hover{
		background-color: transparent;
		border: 4px solid var(--red);
	}
}




























